<ion-content color="primary" padding>
  <form #form="ngForm" >
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h1>FINIXER </h1>
          </div>
          <div text-center>
            <h4>Accede</h4>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="email" type="email" placeholder="Correo" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Contraseña" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
          </div>
          <div text-center>
            <h5> Si no tienes cuenta, Registrate aqui.</h5>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
